.about-section {
    text-align: center;
    width: 100%;
    max-width: 80vw; /* Using vw to set a relative max-width */
    margin: 2vh auto; /* Using vh for vertical spacing */
    padding: 2vh; /* Using vh for padding to scale with the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image img {
    width: 30vw; /* Scaled based on the viewport width */
    max-width: 250px; /* Retaining a max-width to prevent it from becoming too large */
    max-height: 250px; /* Ensuring max-height is retained as well */
    margin: 0 auto;
    display: block;
}

.contact-section {
    text-align: center;
    width: 100%;
    max-width: 80vw; /* Using vw to set a relative max-width */
    margin: -2vh auto 2vh; /* Using vh for vertical spacing */
    padding: 2vh; /* Using vh for padding to scale with the viewport height */
}

.contact-section p, 
.contact-section a {
    margin: 0; 
    padding: 0;
}

.contact-section a {
    display: inline-block;
}
