.navbar {
    background-color: #2E4053;
}

.navbar .btn {
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 20px; /* The space between navbar items */
}

.navbar .btn:hover, 
.navbar .btn-group:hover .btn {
    background-color: #555;
}

/* Ensure that dropdown content inherits the navbar color */
.navbar .dropdown-content {
    background-color: #2E4053;
}

/* Styling for dropdown content items */
.navbar .dropdown-menu a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .dropdown-menu a:hover {
    background-color: #ddd;
}

/* Override the focus and active styles of the buttons */
.navbar .btn:focus, 
.navbar .btn:active, 
.navbar .btn.active {
    box-shadow: none !important;
    background-color: inherit !important;
    border-color: inherit !important;
}

/* Enlarge the dropdown button */
.navbar .btn.dropdown-toggle.dropdown-toggle-split {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}