.project-content {
    display: flex;
    justify-content: center;  /* Horizontally center the children */
    align-items: center;      /* Vertically center the children */
    margin-bottom: 2%;
    margin-top: 2%;
    flex-wrap: wrap;
}

.project-image {
    flex: 1;
    width: 500px;
    height: 500px;
    padding-left: 2%;
    margin-left: 2%;
    margin-right: 2%;
    object-fit: contain;
    align-self: center;      /* Vertically center the image itself, if needed */
}

.project-description {
    flex: 2;
    font-size: large;
    width: 20vw;
    padding-left: 5%;
    align-self: center;      /* Vertically center the description itself, if needed */
}

@media (max-width: 768px) {
    .project-description {
        padding-left: 2%;
    }
    .project-image, .project-description {
        max-width: 100%;
    }
}
