.project-content {
    display: flex;
    justify-content: space-between;  
    align-items: center;      
    flex-wrap: wrap;
}

.project-image {
    height: auto;
    object-fit: contain;
    padding: 0 15px;
}

.project-description {
    padding: 0 15px;
}

/* Mobile and tablet styles */
@media (max-width: 768px) {
    .project-description, .project-image {
        padding: 15px 0;
        width: 100%;
    }
}
